<!-- 
Constrains -
Axios for api integration
EJS for template
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joke Generator -by lalit</title>
    <link rel="stylesheet" type="text/css" href="/style/main.css" />
  </head>
  <body>
    <div class="main">
      <div class="card">
        <h1>Jokes Generator😂</h1>
        <p><%= joke %></p>
        <h4>Type: <%= type %></h4>
      </div>
    </div>
  </body>
</html>
